$primary_300: #93989C;
$primary_500: #51585F;
$primary_800: #21262C;
$primary_900: #191D22;
$secondary_600: #34739D;
$accent_600: #FFF200;
$neutral_200: #F0F6FA;
$neutral_100: #F4F8FB;
$neutral_100_transparent_50: #F4F8FB80;

$bread_crumps_height_desktop: 44px;
$container_padding: 74px;
$sections_gap: 24px;
$main_img_multiplicator: 0.930;
$container_max_width: 1292px;
$desktop_media_query_width: 1280px;
$container_padding_horisontal: 16px;
$container_padding_vertical: 74px;

$transition_time: 0.3s;